.div{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.div:nth-child(1){
    background-color: lightblue;
}
.div:nth-child(2){
    background-image: url('/static/images/QQ图片20230228185757.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.div:nth-child(3){
    background-image: url('/static/images/微信图片_20230610211301.jpg'),url('/static/images/微信图片_20230610211254.jpg');
    background-size: 50% 100% 50% 100%;
    background-repeat: no-repeat,no-repeat;
    background-position: top left,150px 0;
}